body{
    position: relative;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#error {
    color: red;
    display: none;
}

#process {
    display: none;
}

#process .COL-12 {
    display: none;
}

#process img{
    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, .15);
    transition: box-shadow 1s ease-in-out;
}

#process h5 {
    margin-bottom: 30px;
}

#process a {
    margin-top: 25px;
}

#credits{
    opacity: 0.5;
    position: fixed; bottom: 0; width:100%; text-align: center
}